---
import { Image } from "astro:assets";
import logo from "../../assets/logo.png";
import img1 from "../../assets/products/1.png";
import img2 from "../../assets/products/2.png";
import img3 from "../../assets/products/3.png";
import img4 from "../../assets/products/4.png";
import img5 from "../../assets/products/5.png";
---

<div class="loader">
  <div class="box">
    <div class="logo">
      <Image
        src={logo}
        alt="Logo"
        class="logo-image absolute inset-0 w-8 h-auto mx-auto my-auto grayscale"
      />
      <!-- <svg
        xmlns="http://www.w3.org/2000/svg"
        width="800"
        height="800"
        viewBox="0 0 128 128"
        aria-hidden="true"
        class="svg"
        ><path
          d="M108.91 99.71H62.6l48.33-79.77c.44-.73.46-1.64.04-2.39-.42-.74-1.21-1.2-2.06-1.2H81.06c-.25 0-.49.05-.71.13H19.09c-1.24 0-2.24 1-2.24 2.24v16.72c0 1.24 1.01 2.24 2.24 2.24h47.43l-49.44 79.75c-.45.73-.47 1.65-.06 2.4.42.75 1.21 1.21 2.07 1.21h29.25c.25 0 .49-.05.72-.12h59.84c1.23 0 2.24-1 2.24-2.24v-16.72c.01-1.25-1-2.25-2.23-2.25"
        ></path>
      </svg> -->
    </div>
  </div>
  <div class="box">
    <div class="upper-box">
      <a href="https://productpersonalizer.com/" target="_blank">
        <Image
          src={img1}
          alt="Product 1"
          class="product absolute top-[65px] rounded-sm w-6 h-auto"
        />
      </a>
    </div>
  </div>
  <div class="box">
    <div class="upper-box">
      <a href="https://landing-page-woad-tau.vercel.app/" target="_blank">
        <Image
          src={img2}
          alt="Product 2"
          class="product absolute top-[25px] rounded-sm w-6 h-auto"
        />
      </a>
    </div>
  </div>
  <div class="box">
    <div class="upper-box">
      <a href="https://productpersonalizer.com/" target="_blank">
        <Image
          src={img3}
          alt="Product 3"
          class="product absolute top-[40px] right-0 rounded-sm w-6 h-auto"
        />
      </a>
    </div>
  </div>
  <div class="box">
    <div class="upper-box">
      <a href="https://productpersonalizer.com/" target="_blank">
        <Image
          src={img4}
          alt="Product 4"
          class="product absolute bottom-[60px] right-0 rounded-sm w-6 h-auto"
        />
      </a>
    </div>
  </div>
</div>

<style>
  .loader {
    --size: 250px;
    --duration: 3s;
    --logo-color: rgb(221, 213, 213);
    --background: linear-gradient(
      0deg,
      rgba(216, 216, 216, 0.2) 0%,
      rgba(183, 183, 183, 0.2) 100%
    );
    height: var(--size);
    aspect-ratio: 1;
    position: relative;
  }

  .loader .box {
    position: absolute;
    /* background: rgba(100, 100, 100, 0.15); */
    background: none;
    /* background: var(--background); */
    border-radius: 50%;
    /* border-top: 1px solid rgba(100, 100, 100, 1); */
    /* border-top: 1px solid rgba(100, 100, 100, 1); */
    /* box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 10px -0px; */
    box-shadow: #b6babc 0px 5px 10px -0px;
    backdrop-filter: blur(5px);
    transform: scale(2);
    animation: ripple var(--duration) infinite ease-in-out;
  }

  .loader .box .upper-box {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  .loader .box:nth-child(2) .upper-box {
    animation: rotateBox 30s infinite linear;
  }
  .loader .box:nth-child(3) .upper-box {
    animation: rotateBox 20s infinite linear;
  }
  .loader .box:nth-child(4) .upper-box {
    animation: rotateBox 30s infinite linear;
  }
  .loader .box:nth-child(5) .upper-box {
    animation: rotateBox 20s infinite linear;
  }

  .loader .box:nth-child(2) .upper-box .product,
  .loader .box:nth-child(4) .upper-box .product {
    animation: stable-rotate 30s infinite linear;
  }
  .loader .box:nth-child(3) .upper-box .product,
  .loader .box:nth-child(5) .upper-box .product {
    animation: stable-rotate 20s infinite linear;
  }

  .product:hover {
    animation-play-state: paused;
  }

  /* Pause rotation of parent .upper-box on hover */
  .product:hover ~ .upper-box,
  .product:hover {
    animation-play-state: paused !important;
  }

  /* Or target the parent .upper-box when child is hovered */
  .upper-box:hover {
    animation-play-state: paused !important;
  }

  .upper-box:hover .product {
    animation-play-state: paused !important;
  }

  .loader .box:nth-child(1) {
    inset: 40%;
    z-index: 99;
  }

  .loader .box:nth-child(2) {
    inset: 30%;
    z-index: 98;
    border-color: rgba(100, 100, 100, 0.8);
    animation-delay: 0.2s;
  }

  .loader .box:nth-child(3) {
    inset: 20%;
    z-index: 97;
    border-color: rgba(100, 100, 100, 0.6);
    animation-delay: 0.4s;
  }

  .loader .box:nth-child(4) {
    inset: 10%;
    z-index: 96;
    border-color: rgba(100, 100, 100, 0.4);
    animation-delay: 0.6s;
  }

  .loader .box:nth-child(5) {
    inset: 0%;
    z-index: 95;
    border-color: rgba(100, 100, 100, 0.2);
    animation-delay: 0.8s;
  }

  .loader .logo {
    position: absolute;
    inset: 0;
    display: grid;
    place-content: center;
    padding: 30%;
  }

  .loader .logo svg {
    fill: var(--logo-color);
    width: 100%;
    fill: white;
    animation: color-change var(--duration) infinite ease-in-out;
  }

  @keyframes ripple {
    0% {
      transform: scale(2);
      /* box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 10px -0px; */
    }
    50% {
      transform: scale(1.9);
      /* box-shadow: rgba(0, 0, 0, 0.3) 0px 30px 20px -0px; */
    }
    100% {
      transform: scale(2);
      /* box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 10px -0px; */
    }
  }

  @keyframes rotateBox {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes stable-rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }

  @keyframes color-change {
    0% {
      fill: var(--logo-color);
    }
    50% {
      fill: white;
    }
    100% {
      fill: var(--logo-color);
    }
  }
</style>
