---
import ComponentLayout from "../layouts/ComponentLayout.astro";
import pplrImg from "../assets/products/1.png";
import SignCustomizerImg from "../assets/products/2_without_border.webp";
import BoostlyCartImg from "../assets/products/3.png";
import InfinSEOImg from "../assets/products/4.png";
import popManImg from "../assets/products/5.png";
import pplrBNR from "../assets/products/pplr_banner.webp";
import SignCustomizerBNR from "../assets/products/sign_customizer_banner.webp";
import BoostlyCartBNR from "../assets/products/boostlyCart_banner.webp";
import InfinSEOBNR from "../assets/products/infinSEO_banner.webp";
import popManBNR from "../assets/products/popMan_banner.webp";
import { Image } from "astro:assets";

const products = [
  {
    name: "Product Personalizer",
    logo: pplrImg,
    banner: pplrBNR,
    description:
      "Infinite options with live preview to sell customized products",
    link: "https://productpersonalizer.com/",
  },
  {
    name: "Sign Customizer",
    logo: SignCustomizerImg,
    banner: SignCustomizerBNR,
    description: "Sell custom signs with realistic previews & dynamic pricing",
    link: "https://zcustomizer.app/",
  },
  {
    name: "BoostlyCart",
    logo: BoostlyCartImg,
    banner: BoostlyCartBNR,
    description: "Simple Slide Cart Drawer with Discounts & Upsells.",
    // description: "Slide cart with upsells, discounts, analytics, sticky add-to-cart, and more.",
    link: "https://apps.shopify.com/boostlycart-cart-drawer-upsell",
  },
  {
    name: "PopMan",
    logo: popManImg,
    banner: popManBNR,
    description: "Boost sales with custom popups: sales, social proof & more",
    link: "https://popman.app/",
  },
  {
    name: "InfinSEO",
    logo: InfinSEOImg,
    banner: InfinSEOBNR,
    description: "Maximize SEO with unlimited optimization & broken link fixes",
    link: "https://apps.shopify.com/infinseo",
  },
];
---

<div class="bg-white" id="products-showcase">
  <ComponentLayout class="!py-22">
    <h1 class="text-center mb-4 md:text-5xl sm:text-4xl text-3xl font-bold">
      Shopify Apps Built to Grow Your Business
    </h1>
    <!-- <p class="text-center md:text-2xl text-lg">
      Served More Than 100K Stores Globally
    </p> -->

    <div class="flex flex-wrap justify-center gap-8 mt-12">
      {
        products?.map((prod) => (
          <a href={prod?.link} target="_blank" class="card shadow-lg">
            <div class="w-full max-h-[400px] overflow-hidden">
              <Image width={566} height={318} src={prod?.banner} alt={prod?.name} loading="lazy" />
            </div>
            <div class="relative">
              <div class="absolute -top-20 left-1/2 -translate-x-1/2 w-16 h-16 rounded-full overflow-hidden object-contain m-auto shadow-lg">
                <Image
                  src={prod?.logo}
                  alt={prod?.name}
                  class="w-auto h-full"
                  loading="lazy"
                  width={72}
                  height={72}
                />
              </div>
              <h2 class="product_name mt-12 font-bold text-center sm:text-3xl text-2xl transition-all duration-300 ease-in-out">
                {prod?.name}
              </h2>
              <span class="pt-1 pb-6 px-4 line-clamp-3 sm:text-xl text-lg text-center text-text_70">
                {prod?.description || "No description available."}
              </span>
            </div>
          </a>
        ))
      }
    </div>
  </ComponentLayout>
</div>

<style>
  :root {
    --sizeWidth: max(calc(50% - 1rem), 500px);
    --sizeHeight: 370px;
  }
  p {
    line-height: 1.6;
    color: #555;
  }
  .card {
    max-width: var(--sizeWidth);
    min-height: var(--sizeHeight);
    overflow: hidden;
    border-radius: 8px;
    background: white;
    border-radius: 1rem;
    display: inline-block;
    border: 1.5px solid white;
    transition: all 0.3s ease;
  }
  .card:hover {
    /* border: 1px solid var(--color-primary); */
    /* box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); */
    transform: scale(1.01) translateY(-2px);
    .product_name {
      color: var(--color-primary);
    }
  }
</style>
